ul.head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li a{
    float: left;
    border-right:1px solid #bbb;
  }
  
  li a:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: yellow;
  }
  
  .active {
    background-color: purple;
  }
  
  p.p1{
    margin-bottom: 10px;
    display: inline;
    background-color: darkturquoise;
    border-style:solid;
    border-color:blue;
    border: 5px solid royalblue;
  }
  p.p2 {
    margin-bottom: 10px;
    display: inline;
    background-color: greenyellow;
    border-style:solid;
    
    border: 5px solid green;
  }
  